@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Moonrocks&display=swap');
/* @import url(); */

:root{
  --morado: #3F022A;
  --violeta: #8C035C;
  --violeta-claro: #D99AC8;
  --lila-oscuro: #BF9FB7;
  --lila: #EEE4F2;
  --negro: #0D0D0D;
}

body{
  font-family: "Poppins", sans-serif; 
  height: 4000px;
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: #2e2e2e;
  color: #ffffff;
}

.darkModeSwitch {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
}

.darkModeSwitch span {
  display: none;
}

.darkModeSwitch span:first-child {
  display: inline;
}

body.dark-mode .darkModeSwitch span:first-child {
  display: none;
}

body.dark-mode .darkModeSwitch span:last-child {
  display: inline;
}

header{
  background-color: var(--lila);
}

.logo{
  font-family: "Rubik Moonrocks", sans-serif;
  color: var(--morado);
}

.bi-github,
.bi-linkedin,
.bi-brightness-high-fill,
.bi-moon-stars-fill{
  color: var(--morado);
  font-weight: bold;
}


.banners{
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.banner-1{
  background-image: url(../assets/banner1.jpg);
}

.banner-2{
  background-image: url(./assets/banner-2.png);
}

.banner-3{
  background-image: url(./assets/banner-3.png);
}

.banners-titulo{
  --bs-bg-opacity: 0.3;
}

.banner-titulo{
  font-family: "Mochiy Pop P One", sans-serif;
  color: var(--morado);
}

.boton{
  background-color: var(--morado);
  color: var(--lila);
  border-radius: 24px;
  outline: none;
}

.boton:hover{
  background-color: var(--lila);
  color: var(--morado);
}

