@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Moonrocks&display=swap');
/* @import url(); */

:root{
  --morado: #3F022A;
  --violeta: #8C035C;
  --violeta-claro: #D99AC8;
  --lila-oscuro: #BF9FB7;
  --lila: #EEE4F2;
  --negro: #0D0D0D;
  --blanco: #fff;
}

body{
  font-family: "Poppins", sans-serif; 
  height: 4000px;
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: #2e2e2e;
  color: #ffffff;
}

.darkModeSwitch {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
}

.darkModeSwitch span {
  display: none;
}

.darkModeSwitch span:first-child {
  display: inline;
}

body.dark-mode .darkModeSwitch span:first-child {
  display: none;
}

body.dark-mode .darkModeSwitch span:last-child {
  display: inline;
}

header{
  background-color: var(--lila);
}

.logo{
  font-family: "Rubik Moonrocks", sans-serif;
  color: var(--morado);
}

.bi-github,
.bi-linkedin,
.bi-brightness-high-fill,
.bi-moon-stars-fill{
  color: var(--morado);
  font-weight: bold;
}


.banners{
  width: 100%;
  height: 60vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.banner-1{
  background-image: url(../assets/banner1.jpg);
}

.banner-2{
  background-image: url(../assets/banner2.jpg);
}

.banner-3{
  background-image: url(./assets/banner-3.png);
}

.banners-titulo{
  --bs-bg-opacity: 0.3;
}

.banner-titulo{
  font-family: "Mochiy Pop P One", sans-serif;
  color: var(--morado);
}

.boton{
  background-color: var(--morado);
  color: var(--lila);
  border-radius: 24px;
  outline: none;
}

.boton:hover{
  background-color: var(--lila);
  color: var(--morado);
}

.skills{
  background-color: var(--lila-oscuro);
}

.skill-titulo{
  color: var(--violeta);
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
}


/* .skill-link{
  color: aqua;
} */

.skill-container {
  position: relative;
  display: inline-block;
  margin: 15px;
}

.skill-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s;
}

.skill-container:hover .skill-text {
  opacity: 1;
}


.custom-nav{
  gap: 30px;
}

.custom-tab-link {
  font-family: "Mochiy Pop P One", sans-serif;
  font-size: 30px;
  color:var(--morado);
  gap: 10px;
}

.custom-tab-link:hover {
  color: var(--violeta);
}

.nav-link.custom-tab-link.active {
  color: var(--morado) ; /* important! - Aqua cuando está activo */
}

/* .nav-tabs .nav-item + .nav-item {
  margin-left: 20px;
} */

.nav-item {
  display: flex;
  align-items: center;
}

.nav-item i {
  margin-right: 15px; /* Ajusta este valor para cambiar el espaciado entre el icono y el texto */
}

.icon{
  font-size: 25px;
  color: var(--morado);
}


.card-body {
  display: flex;
  flex-direction: column;
}

.card-title {
  margin-bottom: 1rem;
}

.card-text {
  margin-bottom: 0.5rem;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 10px; /* Ajusta la separación entre la imagen y el título */
}

.card-header img {
  /* max-height: 100%;  */
  /* Asegura que la imagen no desborde la columna */
  /* width: auto;  */
  /* Mantiene la proporción de la imagen */
  width: 20%;
  border: 2px solid #000000;
  border-radius: 12px;
  background-color: #000000;
}


.header {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px; /* Ajusta la separación entre la imagen y el título */
}

.header img {
  /* max-height: 100%;  */
  /* Asegura que la imagen no desborde la columna */
  /* width: auto;  */
  /* Mantiene la proporción de la imagen */
  width: 20%;
  border: 2px solid #000000;
  background-color: #000000;
  border-radius: 12px;
}

.card-text-wrapper {
  display: flex;
  flex-direction: column;
}


/* Seccion portafolio */

.portafolio{
  background-color: var(--lila);
}

.portafolio-titulo{
  font-size: 24px;
  font-weight: bold;
  color: var(--violeta);
  text-transform: uppercase;
}

.portafolio-subtitulo{
  font-family: "Mochiy Pop P One", sans-serif;
  color: var(--morado);
  font-size: 30px;
}






/* filtro */

.botonDom{
  color: var(--blanco);
  background-color: var(--violeta);
  border: none;
  border-radius: 25px;
  padding: 10px;
  text-transform: uppercase;
  font-family: "Mochiy Pop P One", sans-serif;
  font-size: 10px;
}

.botonDom-all{
  background-color: var(--morado);
}


/*  */

.cards {
  position: relative;
  overflow: hidden;
}

.cards:hover .card-img-top {
  opacity: 0;
}

.cards-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--negro);
  color: var(--blanco);
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards:hover .cards-body {
  opacity: 1;
}

.card-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10px;
  position: absolute;
  top: 25px; /* Ajusta este valor según sea necesario */
  z-index: 1;
}

.cards-title {
  font-size: 1.25rem;
  margin: 0;
}

.btn-links {
  display: flex;
  gap: 10px;
}

.btn-link{
  color: var(--blanco);
}

.btn-link:hover{
  color: var(--blanco);
  transform: scale(1.1);
}

.card-text {
  /* Mueve el texto al fondo del contenedor */
  /* margin-top: auto;  */
  margin-top: 20px;
  padding: 10px;
}

.etiquetas {
  gap: 10px;
  margin-top: 10px;
}

.etiqueta-card {
  display: flex;
  align-items: center;
  background-color: var(--lila);
  padding: 5px;
  border-radius: 10rem;
}

.etiqueta-card img {
  width: 11px;
  height: 11px;
  margin-right: 2px;
}

.etiqueta-card h4 {
  margin: 0;
  font-size: 0.56rem;
  color: var(--violeta);
  text-transform: uppercase;
}



